@import '../../styles/new_theme';

.title {
  margin-top: 0;
  color: $theme-text-color;
}

.container{
  position: relative;
  padding: $container-padding-vertical $container-padding-horizontal;
  width: 100%;
  margin: $container-margin-vertical $container-margin-horizontal;
  // TODO Remove this
  border: dashed #0B2027;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.full {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*
Horizontal Title Text box

---------------------------
|   [title]   |   [text]  |
---------------------------
*/
.ht_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0.75rem;
}

.ht_title {
  font-size: xx-large;
  text-align: center;
  border: dashed; // TODO remove
}

.ht_title, .ht_body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0.75rem;
  border: dashed; // TODO remove
}

@media screen and (max-width: 900px) {
  .ht_wrapper {
    display: block;
  }
}
