@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

// Theme bb on https://coolors.co/u/mark_takatsuka
$theme-0: #0B2027 !default;
$theme-1: #40798C !default;
$theme-2: #70A9A1 !default;
$theme-3: #CFD7C7 !default;
$theme-4: #F6F1D1 !default;

$eggshell: #f0ead6 !default;

$theme-background: $theme-4 !default;
$theme-text-color: rgba($theme-0, 0.9) !default;

html {
  font-weight: 100;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $theme-text-color;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  background: $eggshell;    // TODO is this what we want?
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/*
Headings
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 200;
  line-height: 1.2;
}
h1, .h1 {
  font-size: 2.5rem
}
h2, .h2 {
  font-size: 2rem;
}
h3, .h3 {
  font-size: 1.75rem;
}
h4, .h4 {
  font-size: 1.5rem;
}
h5, .h5 {
  font-size: 1.25rem;
}
h6, .h6 {
  font-size: 1rem;
}

/*
Links
 */
a, .a{
  color: $theme-1;
}
a:hover{
  color: $theme-2;
  text-decoration: none;
}

b, .b{
  font-weight: normal;
}

/*
Container stuff
 */
$container-padding-vertical: 1rem !default;
$container-padding-horizontal: 1rem !default;
$container-margin-vertical: 1rem !default;
$container-margin-horizontal: 1rem !default;
$container-background-color: #CFD7C7 !default;

// TODO change the name of this. Deprecated - from original version
$content-padding: 2.85rem;

/*
Logo Anim Info
 */
$logo_trace_in: 1.5s;
$logo_show_time: 0.85s;
$logo_fade_out: 0.5s;
$page_fade_in: 0.5s;

/*
Header logo infor
 */
$logo_width: 50px
