@import '../../styles/theme';

.error-page {
  padding-top: 5%;
  height: 100%;

  .errorContainer {
    width: 365px;
    text-align: center;
  }

  .errorBtn {
    padding-left: 35px;
    padding-right: 35px;
  }

  .errorCode {
    margin: 20px;
    font-size: 80px;

    @include media-breakpoint-up(md) {
      font-size: 180px;
    }
  }

  .errorInfo {
    font-size: 20px;
  }

  .errorHelp {
    font-size: 14px;
  }
}
